html, body {
    margin: 0;
    padding: 0;
  }
  canvas{
    border: 2px solid black;
    display:block;
  }
  .gameTitle{
   width:80%;
   height:100px; 
  }

.greeting{
  color:black;
  font-size: 50px;
  font-family: vollkorn;
  text-align: center;
}
.customButton{
  width: 200px;
  height: 50px;
  color:white;
  background-color: rgb(89, 0, 255);
  border: 5px;
  border-radius: 10px;
  border-color: white;
  font-size: 20px;
  font-family: vollkorn;
  margin: 5px 2px;
} 
.customInput{
  width: 200px;
  height: 50px;
  border: 5px;
  border-radius: 10px;
  border-color: white;
  font-size: 20px;
  font-family: vollkorn;
  text-align: center;
  margin: 5px 2px;
}  